Import Library

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Diabetes.csv')

In [3]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
df.describe()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
df.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [8]:
df.shape

(768, 9)

In [9]:
df['diabetes'].value_counts()

0    500
1    268
Name: diabetes, dtype: int64

In [10]:
df.groupby('diabetes').mean()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age
diabetes,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Define X and Y

In [12]:
y=df['diabetes']

In [13]:
y.shape

(768,)

In [14]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: diabetes, Length: 768, dtype: int64

In [22]:
x=df.drop('diabetes',axis=1)

In [23]:
x.shape

(768, 8)

# Scaling

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
mm=MinMaxScaler()

In [29]:
x=mm.fit_transform(x)

In [30]:
x

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.50074516, 0.23441503,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.39642325, 0.11656704,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.34724292, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.390462  , 0.07130658,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.4485842 , 0.11571307,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.45305514, 0.10119556,
        0.03333333]])

# Train Test Split

In [31]:
from sklearn.model_selection import train_test_split

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=2429)

In [35]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((537, 8), (231, 8), (537,), (231,))

# Logistic Regression

In [36]:
from sklearn.linear_model import LogisticRegression

In [38]:
lr=LogisticRegression()

In [39]:
lr.fit(x_train,y_train)

LogisticRegression()

# Prediction

In [40]:
y_pred=lr.predict(x_test)

In [41]:
y_pred.shape

(231,)

# Probability of each predicted class

In [42]:
lr.predict_proba(x_test)

array([[0.57611081, 0.42388919],
       [0.90906577, 0.09093423],
       [0.67315282, 0.32684718],
       [0.3981702 , 0.6018298 ],
       [0.83353778, 0.16646222],
       [0.8225342 , 0.1774658 ],
       [0.67343296, 0.32656704],
       [0.34050344, 0.65949656],
       [0.3843026 , 0.6156974 ],
       [0.68867017, 0.31132983],
       [0.82303951, 0.17696049],
       [0.8701324 , 0.1298676 ],
       [0.42972565, 0.57027435],
       [0.73042875, 0.26957125],
       [0.73321682, 0.26678318],
       [0.80751951, 0.19248049],
       [0.44379129, 0.55620871],
       [0.17096691, 0.82903309],
       [0.31705838, 0.68294162],
       [0.51172086, 0.48827914],
       [0.84332429, 0.15667571],
       [0.45307062, 0.54692938],
       [0.20223418, 0.79776582],
       [0.67194616, 0.32805384],
       [0.95033548, 0.04966452],
       [0.76492979, 0.23507021],
       [0.85959686, 0.14040314],
       [0.73672391, 0.26327609],
       [0.25090418, 0.74909582],
       [0.88236089, 0.11763911],
       [0.23757588, 0.76242412],
       [0.66128812, 0.33871188],
       [0.77033019, 0.22966981],
       [0.79865291, 0.20134709],
       [0.70759374, 0.29240626],
       [0.37676385, 0.62323615],
       [0.93570863, 0.06429137],
       [0.17429719, 0.82570281],
       [0.84313483, 0.15686517],
       [0.86402607, 0.13597393],
       [0.8322979 , 0.1677021 ],
       [0.18971428, 0.81028572],
       [0.52122803, 0.47877197],
       [0.65632149, 0.34367851],
       [0.67047867, 0.32952133],
       [0.32534825, 0.67465175],
       [0.78738676, 0.21261324],
       [0.90148832, 0.09851168],
       [0.85358206, 0.14641794],
       [0.60499837, 0.39500163],
       [0.93831596, 0.06168404],
       [0.63137753, 0.36862247],
       [0.46254792, 0.53745208],
       [0.71520925, 0.28479075],
       [0.9645552 , 0.0354448 ],
       [0.68027566, 0.31972434],
       [0.85777646, 0.14222354],
       [0.71217146, 0.28782854],
       [0.87664254, 0.12335746],
       [0.57652527, 0.42347473],
       [0.69084843, 0.30915157],
       [0.65454714, 0.34545286],
       [0.90493294, 0.09506706],
       [0.79994006, 0.20005994],
       [0.85030509, 0.14969491],
       [0.08184629, 0.91815371],
       [0.79605884, 0.20394116],
       [0.82025078, 0.17974922],
       [0.89275612, 0.10724388],
       [0.89435413, 0.10564587],
       [0.84618403, 0.15381597],
       [0.30372805, 0.69627195],
       [0.76213064, 0.23786936],
       [0.81949943, 0.18050057],
       [0.61574326, 0.38425674],
       [0.23873854, 0.76126146],
       [0.44872424, 0.55127576],
       [0.79954315, 0.20045685],
       [0.66512663, 0.33487337],
       [0.9295699 , 0.0704301 ],
       [0.73009622, 0.26990378],
       [0.44156573, 0.55843427],
       [0.87594046, 0.12405954],
       [0.91582255, 0.08417745],
       [0.80908464, 0.19091536],
       [0.84507648, 0.15492352],
       [0.83883926, 0.16116074],
       [0.77244335, 0.22755665],
       [0.65465424, 0.34534576],
       [0.34253744, 0.65746256],
       [0.27164001, 0.72835999],
       [0.68882222, 0.31117778],
       [0.82704893, 0.17295107],
       [0.47535426, 0.52464574],
       [0.80959209, 0.19040791],
       [0.90239379, 0.09760621],
       [0.3756155 , 0.6243845 ],
       [0.57149296, 0.42850704],
       [0.78913932, 0.21086068],
       [0.88820534, 0.11179466],
       [0.61045644, 0.38954356],
       [0.6702638 , 0.3297362 ],
       [0.79332762, 0.20667238],
       [0.78327703, 0.21672297],
       [0.74894929, 0.25105071],
       [0.45234566, 0.54765434],
       [0.298927  , 0.701073  ],
       [0.8356922 , 0.1643078 ],
       [0.8323882 , 0.1676118 ],
       [0.71773104, 0.28226896],
       [0.22543561, 0.77456439],
       [0.92378718, 0.07621282],
       [0.76802275, 0.23197725],
       [0.85714192, 0.14285808],
       [0.60934535, 0.39065465],
       [0.51961627, 0.48038373],
       [0.85928356, 0.14071644],
       [0.74533576, 0.25466424],
       [0.80478553, 0.19521447],
       [0.67192187, 0.32807813],
       [0.25905808, 0.74094192],
       [0.36577262, 0.63422738],
       [0.83792398, 0.16207602],
       [0.25602605, 0.74397395],
       [0.48474751, 0.51525249],
       [0.30872173, 0.69127827],
       [0.75195427, 0.24804573],
       [0.27715552, 0.72284448],
       [0.72026987, 0.27973013],
       [0.84575691, 0.15424309],
       [0.51320247, 0.48679753],
       [0.85949152, 0.14050848],
       [0.37020583, 0.62979417],
       [0.21066566, 0.78933434],
       [0.57931145, 0.42068855],
       [0.75927393, 0.24072607],
       [0.76857348, 0.23142652],
       [0.44384959, 0.55615041],
       [0.81776319, 0.18223681],
       [0.94971253, 0.05028747],
       [0.72630501, 0.27369499],
       [0.8748355 , 0.1251645 ],
       [0.7413404 , 0.2586596 ],
       [0.80825195, 0.19174805],
       [0.79650037, 0.20349963],
       [0.86442313, 0.13557687],
       [0.55246086, 0.44753914],
       [0.91094205, 0.08905795],
       [0.95773428, 0.04226572],
       [0.83243708, 0.16756292],
       [0.86427597, 0.13572403],
       [0.15864309, 0.84135691],
       [0.86736718, 0.13263282],
       [0.61836795, 0.38163205],
       [0.86544356, 0.13455644],
       [0.86555951, 0.13444049],
       [0.70964692, 0.29035308],
       [0.3878051 , 0.6121949 ],
       [0.76847472, 0.23152528],
       [0.33178526, 0.66821474],
       [0.63366206, 0.36633794],
       [0.57832899, 0.42167101],
       [0.7931975 , 0.2068025 ],
       [0.80262688, 0.19737312],
       [0.68961024, 0.31038976],
       [0.41105442, 0.58894558],
       [0.44304419, 0.55695581],
       [0.67931158, 0.32068842],
       [0.73265726, 0.26734274],
       [0.34385219, 0.65614781],
       [0.57368901, 0.42631099],
       [0.29253153, 0.70746847],
       [0.8389664 , 0.1610336 ],
       [0.81011093, 0.18988907],
       [0.45779933, 0.54220067],
       [0.46343546, 0.53656454],
       [0.3383089 , 0.6616911 ],
       [0.53217941, 0.46782059],
       [0.94244629, 0.05755371],
       [0.74123429, 0.25876571],
       [0.84258438, 0.15741562],
       [0.76455887, 0.23544113],
       [0.83421337, 0.16578663],
       [0.93146281, 0.06853719],
       [0.49631995, 0.50368005],
       [0.64265884, 0.35734116],
       [0.89812523, 0.10187477],
       [0.67623397, 0.32376603],
       [0.14820843, 0.85179157],
       [0.42615479, 0.57384521],
       [0.38274464, 0.61725536],
       [0.57126332, 0.42873668],
       [0.77383062, 0.22616938],
       [0.74172706, 0.25827294],
       [0.60429994, 0.39570006],
       [0.92095082, 0.07904918],
       [0.62040104, 0.37959896],
       [0.60773435, 0.39226565],
       [0.42291848, 0.57708152],
       [0.37000801, 0.62999199],
       [0.2736392 , 0.7263608 ],
       [0.82766464, 0.17233536],
       [0.69260373, 0.30739627],
       [0.61649955, 0.38350045],
       [0.36090111, 0.63909889],
       [0.44981684, 0.55018316],
       [0.83065322, 0.16934678],
       [0.89987711, 0.10012289],
       [0.29352445, 0.70647555],
       [0.5613007 , 0.4386993 ],
       [0.47868775, 0.52131225],
       [0.80407924, 0.19592076],
       [0.40885538, 0.59114462],
       [0.78752475, 0.21247525],
       [0.52156159, 0.47843841],
       [0.57715022, 0.42284978],
       [0.82339135, 0.17660865],
       [0.63746543, 0.36253457],
       [0.73376583, 0.26623417],
       [0.86315679, 0.13684321],
       [0.80171579, 0.19828421],
       [0.8200854 , 0.1799146 ],
       [0.65894081, 0.34105919],
       [0.7795263 , 0.2204737 ],
       [0.78398107, 0.21601893],
       [0.70232165, 0.29767835],
       [0.86912969, 0.13087031],
       [0.54886736, 0.45113264],
       [0.35831347, 0.64168653],
       [0.385546  , 0.614454  ],
       [0.64049792, 0.35950208]])

# Model Evaluation

In [43]:
from sklearn.metrics import confusion_matrix,classification_report

In [44]:
print(confusion_matrix(y_test,y_pred))

[[132  15]
 [ 38  46]]

In [45]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.78      0.90      0.83       147
           1       0.75      0.55      0.63        84

    accuracy                           0.77       231
   macro avg       0.77      0.72      0.73       231
weighted avg       0.77      0.77      0.76       231

# Get Future Predictions

In [48]:
x_new=df.sample(1)

In [50]:
x_new

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
667,10,111,70,27,0,27.5,0.141,40,1

In [51]:
x_new.shape

(1, 9)

In [52]:
x_new=x_new.drop('diabetes',axis=1)

In [53]:
x_new=mm.fit_transform(x_new)

In [54]:
y_pred_new=lr.predict(x_new)

In [55]:
y_pred_new

array([0], dtype=int64)

In [56]:
lr.predict_proba(x_new)

array([[0.99486094, 0.00513906]])